/* Enter your custom styles here */
.mainContent {
    align-content: center;
}

.weatherDetail{
    display: flex;
    justify-content: center;
}

.cityAndTime{
    margin-top: 2rem;
}

.cityAndTime .city{
    font-size: large;
    margin-right: 0.75rem;
}

.cityAndTime .time{
    font-size: large;
    margin-left: 0.75rem;
}

.weatherDetail .temperatureBox{
    align-items: center;
}

.weatherDetail .humidityBox{
    align-items: center;
}

.weatherDetail .weatherStatusBox{
    align-items: center;
}

.weatherDetail .windRateBox{
    align-items: center;
}

.weatherDetail .temperatureBox .temperatureBoxTitle {
    font-size: 1.5rem;
}

.weatherDetail .humidityBox .humidityBoxTitle {
    font-size: 1.5rem;
}

.weatherDetail .weatherStatusBox .weatherStatusBoxTitle {
    font-size: 1.5rem;
}

.weatherDetail .windRateBox .windRateBoxTitle {
    font-size: 1.5rem;
}

.sapUiMediumMargin .headerDetail {
    font-size: large;
}